<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Application</title>
</head>

<body>
    <h1>Welcome to Java Application</h1>
    What is hello in Chinese?
    <form method="POST" th:action="@{/questions}" th:object="${answersLog}">

        <label for="question">Select a Question:</label>
<!--        <select id="asked" name="asked" th:object="${questions}">-->
<!--            <option value=" "></option>-->
<!--            <option value="q1">How do you say "hello" in Chinese?</option>-->
<!--            <option value="q2">How do you say "goodbye" in Chinese?</option>-->
<!--        </select>-->
        <select id="question" name="question" th:object="${answersLog}">
            <option value=" "></option>
            <option th:each="question :${questions}" th:value="${question.id}" th:text="${question.question}"></option>
        </select>

        <span class="validationError"
              th:if="${#fields.hasErrors('question')}"
              th:errors="*{question}">CHOOSE QUESTION</span>
        <br>

        <label for="answer">Your Answer:</label>
        <input type="text" th:field="*{answer}" id="answer" name="answer" placeholder="Your Answer">

        <span class="validationError"
              th:if="${#fields.hasErrors('answer')}"
              th:errors="*{answer}">WRONG ANSWER</span>
        <br>

        <input type="submit" value="Check Answers">
    </form>
</body>
</html>